body {
  background-color: white;
  font-family: "Helvetica";
  margin: 0px;
}
img {
  width: 100%;
  height: auto;
}
h1 {
  margin: 0px;
}
.container {
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 60px;
}
/* Header */
.header {
  color: white;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(56, 56, 56, 0.6);
  opacity: 0.9;
  backdrop-filter: blur(25px);
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
}
.header .column {
  display: flex;
}
.item.menu {
  padding-right: 72px;
  margin-top: 0px;
}
.item.menu.color {
  color: #d73e3e;
}
.item.logo {
  padding-left: 72px;
  margin-top: 0px;
}
.font-color {
  color: #ffffff;
  text-decoration: none;
}
.font-color.link-menu.color {
  color: #d73e3e;
}
.line {
  border: 1px solid rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 0px;
}
.collapse {
  height: 44px;
  overflow: hidden;
  margin-top: 48px;
  margin-bottom: 48px;
}
.collapse.open {
  height: auto;
  overflow: visible;
}
.collapse.open .plus-icon {
  display: none;
}
.collapse.open .less-icon {
  display: block;
}
.plus-icon {
  display: block;
}
.less-icon {
  display: none;
}
.collapse-header {
  display: flex;
  align-items: center;
  gap: 32px;
  cursor: pointer;
}
.collapse-title {
  flex-shrink: 0;
}
.font-color {
  color: #ffffff;
  text-decoration: none;
}
/* CARROSSEL */
.swiper .swiper-pagination {
  margin-bottom: 16px;
}
.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #d73e3e;
}
.swiper .swiper-pagination-bullet {
  background: #f2f2f2;
  width: 13px;
  height: 13px;
}
.swiper .swiper-button-prev {
  color: #ffffff;
  margin-left: 16px;
}
.swiper .swiper-button-next {
  color: #ffffff;
  margin-right: 16px;
}

/* BODY */
.frame {
  border: 1px solid #000000;
  margin-top: 24px;
  margin-bottom: 56px;
}
.text {
  font-size: 16px;
  font-weight: normal;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  margin: 0px;
}
.text-history {
  font-size: 18px;
  margin: 0px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 32px;
}
.space {
  margin-top: 40px;
  margin-bottom: 32px;
}
.image-2 {
  width: 44px;
  height: 44px;
}
.image-3 {
  width: 28px;
  margin-right: 10px;
}

/* footer */
.footer {
  background-color: #e6e6e6;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 72px;
  padding-right: 72px;
  margin-top: 64px;
}
.footer .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.footer .body {
  display: flex;
  justify-content: space-between;
}
.footer .top .column {
  flex-basis: 20%;
  flex-shrink: 0;
}
.footer .top .column.right {
  text-align: right;
}
.link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.item {
  margin-top: 16px;
  margin-bottom: 0px;
}
.image {
  width: 21px;
  height: 21px;
}
.image-social {
  width: 132px;
}
